<nav><%= link_to("Home", books_path, :class => 'action index') %></nav>

<h1>New Book</h1>

<%= form_for(@book, :url => books_path, :method => 'post') do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <%= f.submit("Create Book") %>
<% end %>
